.main {
  padding-top: var(--spacing-lg);
  display: block;
  margin: 0 auto;
  width: 500px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--primary-earth);
}

.link {
  color: var(--accent-terracotta);
  font-weight: 700;
}

.releaseLink {
  font-style: italic;
}

.link:hover {
  color: var(--accent-secondary);
}

/* @media (min-width: 768px) {
  .main {
    width: 750px;
  }
} */
